
.gmap {
  position: fixed !important;
  top: @header-height;
  bottom: 0;
  left: 0;
  right: 0;

  .show-left-col & {
    left: @left-col-width;
  }

  @media(min-width: @bp-tablet) {
    left: @left-col-width;
  }
}
