@font-s: 0.8rem;
@font-m: 1rem;
@font-l: 2rem;

@font-color: #8ca1aa;
@font-color-strong: darken(@font-color, 10%);
@font-color-hover: @font-color-strong;
@font-color-active: darken(@font-color, 20%);

html, body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}
