@card-border: mix(lighten(grey, 30%), @body-background);
@card-border-top: mix(lighten(grey, 40%), @body-background);

@card-header-height: 49px;

@keyframes card-fade-in {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

@keyframes warning-flicker {
  0% {
    background: @warning-background-flicker;
  } 100% {
    background: @warning-background;
  }
};

.card {
  background: white;

  @media(min-width: @bp-tablet) {
    border-radius: 3px;
    border-top: 1px solid @card-border-top;
    border-left: 1px solid @card-border;
    border-right: 1px solid @card-border;
    border-bottom: 2px solid @card-border;
  }

  .left-col & {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    @media(min-width: @bp-tablet) {
      left: 15px;
      top: 15px;
      right: 15px;
    }
  }
}

.card-header {
  position: absolute;
  // top: 0;
  bottom: 100%;
  left: 0;
  right: 0;
  padding: 15px;
  background: white;
  border-bottom: 1px solid lighten(grey, 45%);
  border-top: 1px solid @card-border;

  @media(min-width: @bp-tablet) {
    border-top: 0;
    bottom: auto;
    top: 0;
  }

  &.card-header-warning {
    background: @warning-background;
    animation: 1s warning-flicker;
  }
}

.card-header-title {
  position: relative;
  margin: 0;
  color: @font-color;
  font-size: @font-m;
  font-weight: 400;
  white-space: nowrap;

  .card-header-warning & {
    color: @warning-color;
  }
}

.card-header-title-icon {
  margin-right: 7px;

  .card-header-warning & {
    color: @warning-color;
  }
}

.card-header-ui {
  position: absolute;
  top: 4px;
  right: 28px;
  font-size: @font-l;

  @media(min-width: @bp-tablet) {
    display: none;
  }

  .card-header-warning & {
    color: @warning-color;
  }
}

.card-header-hide-icon {
  display: none;
  .show-left-col & {
    display: inline;
  }
}
.card-header-show-icon {
  .show-left-col & {
    display: none;
  }
}

.card-header-close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: @link-color;

  &:hover,
  &:focus {
    color: @link-color-hover;
  }
  &:active {
    color: @link-color-active;
  }
}

.card-body {
  &.card-body-scroll {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: @card-footer-height;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    @media(min-width: @bp-tablet) {
      top: @card-header-height;
    }
  }
}

.card-body-padded {
  padding: 15px;
}

.card-body-title {
  font-size: @font-s;
  color: @font-color-strong;
  margin: 15px 0;

  &:first-child {
    margin-top: 0;
  }
}

.card-body-footer {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: right;
}

.card-body-stacked-list {
  margin: 0;
  padding: 0;

  .card-body-padded & {
    margin-left: -15px;
    margin-right: -15px;
  }

  >li {
    position: relative;
    animation: card-fade-in .5s;
    list-style: none;
    border-top: 1px dotted lighten(@font-color, 30%);
    &:first-child {
      border-top: none;
    }
    >a {
      display: block;
      padding: 15px;
      list-style: none;
      color: @font-color;
      text-decoration: none;

      &.hover,
      &.focus {
        background: lighten(@font-color, 38%);
        color: @font-color-hover;
        h3 {
          color: @font-color-hover;
        }
      }
      &.active {
        color: @font-color-active;
        h3 {
          color: @font-color-active;
        }
      }
    }
  }
}
