.left-col
  section.card.buses-list-card
    header.card-header
      h1.card-header-title
        span.buses-list-card-route-icon(
          once-text="route.shortName"
          once-style="{background:'#'+route.color,color:'#'+route.textColor}"
        )
        |&nbsp;at&nbsp;
        span(once-text="busStop.nameTitlecase")
      a.card-header-close(ui-sref="^")
        i.fa.fa-close
    .card-body.card-body-scroll.card-body-padded
      h2.buses-list-route-name(once-text="route.longName")
      div.font-s(once-text="route.description")
      h3.card-body-title Upcoming arrivals
      ul.card-body-stacked-list(ng-if="buses.length")
        li(ng-repeat="bus in buses track by bus.MonitoredVehicleJourney.VehicleRef")
          a(ng-click="goToLoc(bus.MonitoredVehicleJourney.VehicleLocation.Latitude,bus.MonitoredVehicleJourney.VehicleLocation.Longitude)")
            //- h3.buses-list-item-title(ng-bind="bus.MonitoredVehicleJourney.VehicleRef")
            table.table-icon-details
              tbody
                tr(ng-if="bus.MonitoredVehicleJourney.MonitoredCall.ExpectedArrivalTime")
                  th(title="Expected arrival time")
                    span Arrival:
                  td
                    span(ng-bind="bus.MonitoredVehicleJourney.MonitoredCall.ExpectedArrivalTime|date:'h:mm a'")
                tr
                  th(title="Distance from stop")
                    span Distance:
                  td
                    span(ng-bind="bus.MonitoredVehicleJourney.MonitoredCall.Extensions.Distances.PresentableDistance")
            i.buses-list-item-location-icon.fa.fa-location-arrow
      div.font-s(ng-if="!buses.length") There are no upcoming arrivals for the&nbsp;
        b(ng-bind="route.shortName")
        |&nbsp;bus at this time.
      footer.card-body-footer
        button.btn.btn-primary(
          type="button"
          ui-sref="^"
        ) Close
    card-footer
