.bus-stop-marker {
  display: block;
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  background: #3148B1;
  color: white;
  text-align: center;
  margin-top: -15px;
  margin-left: -15px;
  
  .fa {
    padding-top: 3px;
  }
}

.bus-stop-marker-copy {
  font-size: 10px;
}
