.bus-stop-marker(
  ng-mouseover="onFocus()"
  ng-mouseout="onBlur()"
  ng-click="onClick($event)"
  ng-class="{'active':active(),'hover':stop.isHover,'minimized':isMinimized()}"
  )
  .bus-stop-marker-point
  span.fa.fa-bus
  
