.bus-stop-marker(
  ng-mouseover="onFocus()"
  ng-mouseout="onBlur()"
  ng-click="onClick($event)"
  ng-class="{'active':stop.id===stateParams.id,'hover':stop.isHover}"
  )
  span.fa.fa-bus
  br
  span.bus-stop-marker-copy stop
