@bus-stop-marker-background: #3148B1;
@bus-stop-marker-background-hover: saturate(lighten(@bus-stop-marker-background, 15%), 100%);

@keyframes bus-bulge {
  0% {
    transform: scale(1);
  } 80% {
    transform: scale(1);
  } 90% {
    transform: scale(1.1);
  } 100% {
    transform: scale(1);
  }
}

bus-stop-marker {
  display: block;
  position: absolute;
}

.bus-stop-marker {
  display: block;
  position: absolute;
  height: 30px;
  width: 30px;
  background: transparent;
  color: white;
  text-align: center;
  margin-top: -15px;
  margin-left: -15px;
  cursor: pointer;
  z-index: 5;
  border: none;
  overflow: visible;

  .fa {
    position: relative;
    padding-top: 8px;
    font-size: 1.2em;
    z-index: 10;
  }

  &.hover {
    // transform: scale(1.1);
    z-index: 10;

    &::before {
      transform: scale(1.5);
    }
    &::after {
      animation: none;
      background: @bus-stop-marker-background-hover;
    }
  }
  &.active {
    transform: translateY(-15px);

    &::before {
      transform: scale(0);
      &.hover {
        transform: scale(0);
      }
    }
    &::after {
      border-top: 1px solid lighten(@bus-stop-marker-background-hover, 20%);
      animation: none;
      background: @bus-stop-marker-background-hover;
      &.hover {
        background: @bus-stop-marker-background-hover;
      }
    }
  }
  &.minimized {
    transform: scale(0.5);
    &::before {
      animation: none;
    }
    &.active {
      transform: translateY(-15px);
    }
  }
  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: #54b0f7;
    // animation: 3s bus-bulge infinite;
    transition: transform .25s;
  }
  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    animation: 3s bus-bulge infinite;
    background: @bus-stop-marker-background;
  }
}

.bus-stop-marker-point {
  display: none;
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -9px;
  background: @bus-stop-marker-background-hover;
  transform: rotate(45deg);
  z-index: 0;

  .active & {
    display: block;
  }
}
