.left-col
  section.card.single-route-card
    header.card-header
      .card-header-title
        ul.inline-list
          li
            a(ui-sref="routes") Routes
          li
            i.fa.fa-chevron-right
          li
            span(once-text="routeDetails.shortName")
