@import '../bower_components/font-awesome/less/font-awesome.less';


@fa-font-path: '../bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* inject:less */
@import 'about/about.less';
@import 'main/main.less';
@import '../components/body/body.less';
@import '../components/bus-marker/bus-marker.less';
@import '../components/bus-markers/bus-markers.less';
@import '../components/bus-stop-list/bus-stop-list.less';
@import '../components/bus-stop-marker/bus-stop-marker.less';
@import '../components/bus-stops/bus-stops.less';
@import '../components/buses-list/buses-list.less';
@import '../components/buttons/buttons.less';
@import '../components/card-footer/card-footer.less';
@import '../components/card/card.less';
@import '../components/dimensions/dimensions.less';
@import '../components/helpers/helpers.less';
@import '../components/left-col/left-col.less';
@import '../components/map/map.less';
@import '../components/navbar/navbar.less';
@import '../components/palette/palette.less';
@import '../components/single-bus-stop/single-bus-stop.less';
@import '../components/typography/typography.less';
@import '../components/user-location-button/user-location-button.less';
@import '../components/user-location-marker/user-location-marker.less';
/* endinject */
