.inline-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  >li {
    display: inline-block;
    list-style: none;
    margin-left: 7px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.capitalize {
  text-transform: capitalize;
}

.table-icon-details {
  border-collapse: collapse;
  th, td {
    font-size: @font-s;
    text-align: left;
  }
  th {
    position: relative;
    padding-left: 0;
  }
}

.font-s {
  font-size: @font-s;
}
.font-m {
  font-size: @font-m;
}
.font-l {
  font-size: @font-l;
}

.nowrap {
  white-space: nowrap;
}
