header.header
  h1.header-title
    a(ui-sref="main.bus-stops") NYC Bus Time Finder
  .header-app-nav
    a(ng-click="onToggleShowMenu()")
      i.fa.fa-bars.header-app-nav-collapsed-ui
      i.fa.fa-times.header-app-nav-expanded-ui
