@header-height: 48px;

.header-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: @primary;
  color: white;
  padding: 15px;
  // border-bottom: 1px solid lighten(grey, 45%);
  box-shadow: 0 2px 2px 1px rgba(0,0,0,0.07);
  z-index: 50;
  transform: translateZ(0);

  @media(min-width: @bp-tablet) {
    padding: 15px 30px;
  }

  a {
    color: mix(white, @primary, 90%);
    text-decoration: none;

    &:hover,
    &:focus {
      color: white;

      @media(min-width: @bp-tablet) {
        text-decoration: underline;
      }
    }
    &:active {
      color: mix(white, @primary, 80%);
    }
  }
}

.header-title {
  display: inline-block;
  margin: 0;
  color: white;
  font-size: @font-m;
  font-weight: 400;

  a {
    color: white;
    text-decoration: none;
  }

  .search-expanded & {
    display: none;
    @media(min-width: @bp-tablet) {
      display: inline-block;
    }
  }
}

.header-app-nav {
  display: inline-block;
  width: 14px;
  margin-right: 15px;
  a {
    color: rgba(0,0,0,0.5);

    &:hover,
    &:focus {
      color: rgba(0,0,0,0.6);
    }
    &:active {
      color: rgba(0,0,0,0.7);
    }
  }

  .search-expanded & {
    display: none;
    @media(min-width: @bp-tablet) {
      display: inline-block;
    }
  }
}

.header-app-nav-collapsed-ui {
  .show-menu & {
    display: none;
  }
}

.header-app-nav-expanded-ui {
  display: none;
  .show-menu & {
    display: block;
  }
}

.header-nav-scrim {
  display: none;
  position: fixed;
  top: @header-height;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.8);
  z-index: 35;

  @media(min-width: @bp-tablet) {
    .show-menu & {
      display: block;
    }
  }
}

.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: @header-height 0 15px;
  background: white;
  z-index: 40;
  transform: translateX(-100%);
  transition: transform .25s;

  .show-menu & {
    transform: translateX(0%);
  }

  @media(min-width: @bp-tablet) {
    max-width: @left-col-width;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.07);
  }
}

.header-nav-list {
  margin: 0;
  padding: 15px 15px 30px;

  li {
    list-style: none;
    border-top: 1px dotted @font-color-light;
    &:last-child,
    &:first-child {
      border-top: none;
    }
  }
  a {
    display: block;
    color: @font-color;
    text-decoration: none;
    padding: 15px 0;

    &:hover,
    &:focus {
      color: @font-color-hover;
    }
    &:active {
      color: @font-color-active;
    }
  }
  i {
    float: right;
  }
}

.header-nav-close-btn {
  margin-top: 15px;
}

.header-search-nav {
  float: right;

  a {
    color: rgba(0,0,0,0.5);

    &:hover,
    &:focus {
      color: rgba(0,0,0,0.6);
    }
    &:active {
      color: rgba(0,0,0,0.7);
    }
  }
}

.header-search-form {
  position: absolute;
  left: 15px;
  top: 15px;
  right: 40px;
  padding-bottom: 2px;
  border-bottom: 1px solid white;

  @media(min-width: @bp-tablet) {
    left: auto;
    right: 55px;
    width: 240px;
  }
}

.header-search-label {
  color: white;
}

.header-search-input-container {
  position: absolute;
  top: 0;
  left: 20px;
  right: 0;
}

.header-search-input {
  border: none;
  color: white;
  background: transparent;
  border-radius: 0;
  font-size: @font-m;
  outline: none;
  text-overflow: ellipsis;
  padding: 0;
  line-height: 1em;
  -webkit-text-fill-color: white;
  width: 100%;

  &::placeholder {
    color: rgba(255,255,255,0.7);
  }
}
