.centered-card-page
  section.card.card-about
    .card-body.card-body-scroll.card-body-scroll-noheader
      img.card-hero-img(src="/assets/images/bus-hero.jpg" alt="NYC bus")
      .card-body-padded
        h1.card-body-header Never miss your bus again!
        p NYC Bus Time Finder helps New Yorkers find upcoming departure times for all nearby MTA buses. 
        p Know when your next bus is arriving. See exactly where your bus is on a real-time map. 
        p When you load the NYC Bus Time Finder, allow the website to know your location and all nearby buses will be in immediate view. 
        p Never miss another MTA bus with the NYC Bus Time Finder.
        p
          a(ui-sref="main.bus-stops") Get started now!
    card-footer
